/* CardScreen.css */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* To avoid scrolling when scaled up */
}
.main-container {
  width: 1024px;
  height: 600px;
  /* margin: auto; */
  transform-origin: top left;
  position: absolute;
  top: 20px;
  left: 20px;
}
.wating-container {
  width: 100%;
  height: 100%;
  display:flex; 
  justify-content: center; 
  align-items: center; 
}
.card-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}
.selected-container {
  width: 100%;
  height: 100%;
  justify-content: center; 
  align-items: center; 
}

.card {
  flex: 1;
  border: 3px solid #ddd;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  height: 100%;
}

.card-header, .card-price, .card-features li {
  margin-bottom: 10px;
}
